.container {
  height: 5rem;
  background-color: rgba(47, 79, 79, 0.6);
  width: 100%;
}

.socials {
  display:flex;
  justify-content: center;
  padding-top: .5rem;
  gap: 1rem;
}

.credit {
  padding-top: .5rem;
  color: white;
  font-size: 0.75rem;
  text-align: center;
  background-color: transparent;
}
